<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create competitions</title>
</head>
<body>
    <h1>Create new competition</h1>
    <form method="post" id="form">
        <label for="name">Competition name</label>
        <input type="text" name="name" required>
        <br></br>
        <label for="competitors">Competitors(separated by ; or new line)</label>
        <br></br>
        <textarea rows="8" form="form" name="competitors" required></textarea>
        <br>
        <label for="victoryPoints">Victory points</label>
        <input type="number" name="victoryPoints" required>

        <label for="drawPoints">Draw points</label>
        <input type="number" name="drawPoints" required>

        <label for="lossPoints">Loss points</label>
        <input type="number" name="lossPoints" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>