<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competition list</title>
    <%- include('./partials/bootstrap') %>
</head>
<body>
    <%- include('partials/navbar') %> 



    <h2>Create new competition: </h2>
    <form method="post" id="form">

        <div class="form-group">
            <label for="name">Competition name</label>
            <input type="text" name="name" class="form-control">        
        </div>
        
        <div class="form-group">
            
            <label for="competitors">Competitors(separated by ; or new line)</label>
            <textarea rows="8" form="form" name="competitors" class="form-control"></textarea>
        
        </div>

        <div class="form-group">    
            <label for="victoryPoints">Victory points</label>
            <input type="number" name="victoryPoints" class="form-control">
      
        </div>

        <div class="form-group">
            
            <label for="drawPoints">Draw points</label>
            <input type="number" name="drawPoints" class="form-control">
        
        </div>

        <div class="form-group">
            <label for="lossPoints">Loss points</label>
            <input type="number" name="lossPoints" class="form-control">
        </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <% if(isAuthenticated) { %>
        <% if(locals.competitions.length == 0) {%> 
            <p>No competitions found</p> 
        <%} else {%>    
            <p>Competitions:</p>
            <ul>
                <% locals.competitions.forEach(competition => {%>
                        <li><a href="/competition/<%= competition.id %>"><%=competition.name%></a></li>
                <%})%> 
            </ul>
        <%} %> 
    <% } %>
</body>
</html>